# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Generated Windows resources
resource.syso

# LaunchRDP application data
/data/
/logs/  
/temp/
launchrdp
launchrdp.exe

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp
*.mst
